@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght\ \(convert.io\).woff);
    src: url(../fonts/Raleway-VariableFont_wght.ttf) format("truetype");
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
}
body{
    font-family: "Raleway" , sans-serif;
    width: 100%;
    background-color: #e3e3e3;
    justify-content: center;
    align-content:start;
    margin-top: -20px; /* Pour placer le header le plus haut sur la page*/
}
main{
    display: flex;
    background-color: #ffffff;
}
header{
    background-color: #17abb3;
    color: #ffffff;
    text-align: center;
}
h1{
    font-family: "lato" , sans-serif;
}
h2{
    font-family: "lato" , sans-serif;
}
header img{
    width: 16px;
    height: 16px;
    color: #ffffff;
}
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 590px;
    margin: auto;
    justify-content: space-between;
}
a{
    text-decoration:none;
    color: #ffffff;
}